.spacer {
    justify-content: space-between;
    flex: 1;
}

.toolbar {
    justify-content: space-around;
}

.header {
    flex: 1 1 auto;
}

.main {
    float: left;
    width: 90%;
}

.todolist {
    float: left;
    width: 9%;
    justify-content: center;
}
  
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}