<mat-toolbar class="spacer" color="primary">
    <span>
        <a button mat-button (click)="home_clicked()" routerLink=""><mat-icon>assignment</mat-icon>Not Amazon</a>
    </span>
    <mat-slide-toggle (click)="toggleDynamic(dynamicUI.checked)" #dynamicUI>Dynamic UI</mat-slide-toggle>
    <a mat-raised-button (click)="test0()" routerLink="cart">Shopping Cart</a>
    <!-- <a mat-raised-button (click)="test0()" routerLink="cart">Shopping Cart</a> -->
</mat-toolbar>

<!-- Test Buttons -->
<span>
    <button mat-raised-button
        (click)="startTest0()"
        [color]="getTest0_fin() ? 'primary' : 'warn'">
        Begin Test 0
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button 
        (click)="startTest1()"
        [color]="getTest1_fin() ? 'primary' : 'warn'">
        Begin Test 1
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button
        (click)="startTest2()"
        [color]="getTest2_fin() ? 'primary' : 'warn'">
        Begin Test 2
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button
        (click)="startTest3()"
        [color]="getTest3_fin() ? 'primary' : 'warn'">
        Begin Test 3
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="getResults()" [disabled]="getResultsReady()">
        Get Results
    </button>
</span>

<dynamic-toolbar *ngIf="getRouterURL() != 'cart'" [enableDynamic]="dynamicUI.checked"></dynamic-toolbar>

<div class="row">  
    <dynamic-grid class="main" *ngIf="getRouterURL() != 'cart'" [enableDynamic]="dynamicUI.checked"></dynamic-grid>
    <dynamic-cart class="main" *ngIf="getRouterURL() == 'cart'" [enableDynamic]="dynamicUI.checked"></dynamic-cart>

    <div class="todolist">
        <div *ngIf="getActiveTest()">
            <div *ngIf="getActiveTest0()">
                Test 0 Instructions
                <ul>
                    <li>Navigate to the 'Cart'</li>
                    <li>Navigate back to 'Home' using the 'Not Amazon Logo'</li>
                </ul>
            </div>
            <div *ngIf="getActiveTest1()">
                Test 1 Instructions
                <ul>
                    <li>Navigate to the 'Sports' tab</li>
                    <li>Add 'Volleyball' to cart</li>
                    <li>Return to home</li>
                </ul>
            </div>
            <div *ngIf="getActiveTest2()">
                Test 2 Instructions
                <ul>
                    <li>Navigate to the 'Shopping Cart'</li>
                    <li>Remove the 'Volleyball' item from the cart</li>
                    <li>Return to home</li>
                </ul>
            </div>
            <div *ngIf="getActiveTest3()">
                Test 3 Instructions
                <ul>
                    <li>Navigate to the 'Sports' tab</li>
                    <li>Add 'Baseball' to cart</li>
                    <li>Navigate to the 'Electronics' tab</li>
                    <li>Add 'Computer Mouse' to cart</li>
                    <li>Navigate to the 'Clothes' tab</li>
                    <li>Add 'Hat' to cart</li>
                    <li>Navigate to the 'Books' tab</li>
                    <li>Add 'Children's Story Book' to cart</li>
                    <li>Return to home</li>
                </ul>
            </div>
        </div>
    </div>
</div>