<mat-toolbar class="spacer" color="primary">
    <span>
        <a button mat-button (click)="test0_fin()" routerLink=""><mat-icon>assignment</mat-icon>Not Amazon</a>
    </span>
    <a mat-raised-button (click)="test0()" routerLink="cart">Shopping Cart</a>
</mat-toolbar>
  
<mat-toolbar class="toolbar" color="primary">
    <a button mat-button routerLink="sports">Sports</a>
    <a button mat-button routerLink="electronics">Electronics</a>
    <a button mat-button routerLink="clothes">Clothes</a>
    <a button mat-button routerLink="books">Books</a>
</mat-toolbar>
<router-outlet></router-outlet>