<mat-toolbar class="spacer" color="primary">
    <span><mat-icon>assignment</mat-icon>Not Amazon</span>
    <input matInput #searchbar value="">
    <a mat-raised-button routerLink="cart">Shopping Cart</a>
</mat-toolbar>
  
<mat-toolbar class="toolbar" color="primary">
<button mat-button [matMenuTriggerFor]="sports">Sports</button>
    <mat-menu #sports="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>

<button mat-button [matMenuTriggerFor]="electronics">Electronics</button>
    <mat-menu #electronics="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>

<button mat-button [matMenuTriggerFor]="clothes">View</button>
    <mat-menu #clothes="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>

<button mat-button [matMenuTriggerFor]="books">Books</button>
    <mat-menu #books="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    </mat-menu>
</mat-toolbar>

<!-- Tiles with items -->
<div class="grid">
    <ul class="item-card" *ngFor="let item of items.values()">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ item.name }}</mat-card-title>
                <mat-card-subtitle>
                    {{ item.dept }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                {{ item.description }}
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Add to Cart</button>
            </mat-card-actions>
        </mat-card>
    </ul>
</div>