<span>
    <button mat-raised-button
        (click)="startTest0()"
        [color]="(test0_fin) ? 'primary' : 'warn'">
        Begin Test 0
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button 
        (click)="startTest1()"
        [color]="(test1_fin) ? 'primary' : 'warn'">
        Begin Test 1
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button
        (click)="startTest2()"
        [color]="(test2_fin) ? 'primary' : 'warn'">
        Begin Test 2
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button
        (click)="startTest3()"
        [color]="(test3_fin) ? 'primary' : 'warn'">
        Begin Test 3
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="getResults()" [disabled]="resultsReady">
        Get Results
    </button>
</span>


<div class="grid" (click)="emptyClick()">
    <ul class="item-card" *ngFor="let item of items.values()">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ item.name }}</mat-card-title>
                <mat-card-subtitle>
                    {{ item.dept }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                {{ item.description }}
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="addItem(item)">Add to Cart</button>
            </mat-card-actions>
        </mat-card>
    </ul>
</div>